h1 {
    font-size: var(--fs-400);
    font-weight: var(--fw-semibold);
}

p {
    font-weight: var(--fw-regular);
}

a,
h2 {
    font-weight: var(--fw-bold);
}

a,
h2,
p {
    font-size: var(--fs-200);
}


a,
a:visited,
a:active {
    text-decoration: none;
}