:root {
    --clr-primary: hsl(75, 94%, 57%);
    --clr-neutral-light: hsl(0, 0%, 100%);
    --clr-neutral-grey: hsl(0, 0%, 20%);
    --clr-neutral-dark: hsl(0, 0%, 12%);
    --clr-neutral-offblack: hsl(0, 0%, 8%);
}